p {
    max-width:  60vw;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

button {
    color: #ccc;
    background-color: #333; /* Inactive button background color */
    border: none;
    padding: 0.5rem 1rem;
    margin: 0rem 0.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Make the buttons fill the available space */
    text-align: center; /* Center the button text */
}
  
button.active {
    background-color: #8a2be2; /* Accent color for active button */
}
  
button:not(.active):hover {
    background-color: #6b3890;
}

.bodyContents {
    text-align: center;
    padding-top: 1rem;
}

body {
    margin: 0;
    padding: 0;
  }

