p {
    max-width:  60vw;
    text-align: justify;
    vertical-align: middle;
    margin: auto;
}

.Resume {
    width: 60%;
    margin: 50px auto;
    padding: 40px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    text-align: left;
}

button {
    color: #ccc;
    background-color: #333; /* Inactive button background color */
    border: none;
    padding: 0.5rem 1rem;
    margin: 0rem 0.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Make the buttons fill the available space */
    text-align: center; /* Center the button text */
}
  
button.active {
    background-color: #8a2be2; /* Accent color for active button */
}
  
button:not(.active):hover {
    background-color: #6b3890;
}

.contact-container {
    display: inline-block; /* Ensure it wraps content and centers properly */
    text-align: left; /* Reset text alignment if necessary */
    margin-top: 20px; /* Adjust top margin as needed */
    width: 40%;
}

.contact-button {
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    background-color: #333; /* LinkedIn Blue */
    color: white;
    padding: 15px 25px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.bodyContents {
    text-align: center;
    padding-top: 1rem;
}

.contact-button:hover {
    background-color: #8a2be2; /* Darker LinkedIn Blue */
}

.contact-button img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}


body {
    margin: 0;
    padding: 0;
  }

